.element__like {
   margin: 25px 0;
    border: 0;
    cursor: pointer;
    background: transparent url('../../../images/like.svg');
    background-repeat: no-repeat;
    width: 22px;
    height: 19px;
}

.element__like:hover {
  opacity: 0.5;
  cursor: pointer;
}