.popup__container {
    background-color: white;
    max-height: 330px;
    width: 100%;
    max-width: 430px;
    border-radius: 10px;
    position: relative;
}


@media screen and (max-width: 500px) {
    .popup__container {
        max-width: 282px;
    }
}