.profile {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 880px;
    margin: 36px auto 47px;
}

@media screen and (max-width: 900px) {
    .profile {
        justify-content: space-evenly;
     }
}