.header {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    background: #000000;
    color: white;
    font-family: "Inter", "Arial ", sans-serif;
}