.header {
    display: flex;
    max-width: 880px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    margin: 0 auto;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    color: white;
    font-family: "Inter", "Arial ", sans-serif;
}