.profile__subtitle {
    margin: 16px 0 0;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

@media screen and (max-width: 600px) {
    .profile__subtitle {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 17px;
    }
}