.profile__title {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
}

@media screen and (max-width: 600px) {
    .profile__title {
        font-size: 27px;
        line-height: 33px;
    }
}