.profile__title {
    margin: 0;
    font-family: "Inter", "Arial ", sans-serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    .profile__title {
        font-size: 27px;
        line-height: 33px;
        min-width: 189px;
    }
}