.popup__input-name {
    font-family: "Inter", sans-serif;
    border-bottom: 1px solid #000000;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    width: 358px;
    margin-top: 54px;
}

@media screen and (max-width: 500px) {
    .popup__input-name {
        max-width: 238px;
        margin-top: 75px;
    }
}