.popup__form {
border-radius: 10px;
padding: 34px 36px 37px;
 background-color: white;
 max-width: 358px;

} 

@media screen and (max-width: 500px) {
    .popup__form {
        padding: 22px 25px;
        max-width: 238px;

    }
}
