.popup__close {
    background: transparent url("../../../images/close-button.svg");
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    border: 0;
    width: 32px;
    height: 32px;
    padding: 0;
    background-position: center;
}
.popup__close:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
    .popup__close {
        width: 20px;
        height: 20px;
        top: -50px;
        right: -0px;
    }
}