.popup__save-button {
	font-family: "Inter", sans-serif;
    margin-top: 48px;
    width: 358px;
    height: 50px;
    background: #000000;
    border-radius: 2px;
    color: white;
}


@media screen and (max-width: 500px) {
    .popup__save-button {
        max-width: 238px;
    }
}