.preview__img {
  width: 240px;
    object-position: center;
  height: 299px;

object-fit: cover;
}

@media screen and (min-width: 1024px) {
  .preview__img {
    width: 816px;
  }
}

@media screen and (min-width: 768px) {
  .preview__img {
    width: 433px;
    height: 540px;
  }
}


