@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__about/profile__about.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__main/profile__main.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);

@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__list/elements__list.css);
@import url(../blocks/elements/__template/elements__template.css);



/*@import url(../blocks/element/element.css);*/
@import url(../blocks/element/__delete/element__delete.css);

@import url(../blocks/element/__info/element__info.css);
@import url(../blocks/element/__img/element__img.css);

@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__like/_active/element__like_active.css);
@import url(../blocks/preview/__img/preview__img.css);
@import url(../blocks/preview/__caption/preview__caption.css);


@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__title/popup__title.css);

@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__save-button/popup__save-button.css);