.footer {
    font-family: "Inter", sans-serif;
    color: #545454;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    max-width: 880px;
    padding: 67px;
}