.popup__title {
    font-family: "Inter", "Arial ", sans-serif;
	margin: 0;
	color: black;
}


@media screen and (max-width: 900px) {
   .popup__title {
       font-style: normal;
       font-weight: 900;
       font-size: 18px;
       line-height: 22px;
    }
}